h2.author {
  color: var(--neutral-text);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-md);
}

h4 {
  color: var(--gray-lighter);
  font-weight: var(--font-weight-normal);
}

p {
  line-height: 1.5;
}
